body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Login Page */
.loginpage {
  background-color: #000000a2;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.loginpage input {
  background-color: #bbbdbd49;
  color: white;
}
.loginpage input::placeholder {
  color: white;
}
.loginpage input:focus,
.loginpage input:hover {
  outline: none;
  background-color: #bbbdbd49;
  color: white;
}
/* Layout Page */
.layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0px !important;
}
.layout > .container {
  height: 80%;
  width: 80%;

  border-radius: 10px;
  padding: 0px;
  background-color: #f7f7f7a2;
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 10px 0px #ffffffa2;
}
.layout .sidebar {
  flex: 1;

  background-color: rgba(10, 54, 147, 0.984);
  position: relative;
}
.chat {
  flex: 2;
}
.sidebar > .navbar {
  display: flex;
  align-items: center;
  background-color: rgba(37, 87, 197, 0.984);
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user > img {
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.user > button {
  background-color: rgb(0, 0, 59);
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  padding: 6px 2px 6px 2px;
  align-items: center;
  cursor: pointer;
}
.sidebar > .search {
  border-bottom: 1px solid rgb(255, 255, 255);
}
.search > .search_container {
  padding: 10px;
}
.search_container > input {
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}
.search_container > input::placeholder {
  color: rgb(255, 255, 255);
}

.userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
}
.userChat:hover {
  background-color: rgba(3, 164, 182, 0.9);
  color: rgb(1, 1, 79);
}
.userChat img {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.userChatInfo {
  display: flex;
  flex-direction: column;
}
.userChatInfo:hover {
  transform: scale(1.05);
}
.userChatInfo > span:nth-child(odd) {
  font-size: 1.2rem;
}
.userChatInfo > span:nth-child(even) {
  font-size: 0.8rem;
  color: lightgrey;
}

.chat .chatInfo {
  height: 50px;
  background-color: rgba(2, 7, 17, 0.836);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
}
.chatInfo > span {
  font-size: 1.2rem;
}
.chatIcons {
  display: flex;
  gap: 10px;
}
.chatIcons i {
  height: 30px;
  padding-top: 6px;
  cursor: pointer;
}

.messages {
  padding: 10px;
  height: calc(100% - 50px - 50px);
  overflow: scroll;
}
.send-message {
  height: 50px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.send-message > input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;

  padding: 10px;
}
.send-message > input::placeholder {
  color: rgb(70, 70, 70);
}
.send-message-icon i {
  cursor: pointer;
  height: 35px;
  width: 35px;
}
.send-message-icon > button,
.send-message-icon > label,
.send-message-icon > div {
  background-color: rgb(4, 4, 91);
  color: white;
  border-radius: 50%;
  border: none;
  height: 35px;
  width: 35px;
  outline: none;
  padding: 5px;
}
.send-message-icon > button > i,
.send-message-icon > label > i,
.send-message-icon > div > i {
  height: 100%;
  width: 100%;
  text-align: center;
}
.send-message-icon > button:hover,
.send-message-icon > label:hover,
.send-message-icon > div:hover {
  background-color: rgb(0, 0, 59);
}
.send-message-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}
.messages > .message {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}
.messageInfo {
  display: flex;
  flex-direction: column;
  color: rgb(62, 62, 62);
  font-weight: 400;
}

.messageInfo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.messageText {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.messageText p {
  background-color: rgb(1, 1, 79);
  color: white;
  padding: 10px;
  border-radius: 0px 10px 10px 10px;
  font-size: 1.1rem;
  max-width: max-content;
}
.messageText img {
  width: 50%;
}
.owner {
  display: flex;
  flex-direction: row-reverse;
}
.owner .messageText {
  align-items: flex-end;
}
.owner p {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 10px;
  border-radius: 10px 0px 10px 10px;
  font-size: 1.1rem;
}
/* laptop */
@media screen and (max-width: 1024px) {
  .logo {
    font-size: 1.5rem;
  }
  .user > span {
    display: none;
  }
  .user > button > span {
    display: none;
  }
  .layout > .container {
    width: 90%;
    height: 90%;
  }
  .messageText {
    font-size: 1rem;
  }
}
@media screen and (max-width: 760px) {
  .messageInfo img {
    height: 40px;
    width: 40px;
  }
  .messageText p {
    font-size: 1rem;
  }
  .messageInfo span {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 570px) {
  .userChatInfo {
    display: none;
  }
  .search_container {
    width: auto !important;
  }
  .search_container > input {
    min-width: inherit;
  }
  .search_container > i {
    display: none;
  }

  .sidebar {
    max-width: 20%;
  }
  .logo {
    display: none;
  }
  .messageInfo img {
    height: 40px;
    width: 40px;
  }
  .messageText p {
    font-size: 1rem;
  }
  .messageInfo span {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 430px) {
  .user > button {
    margin-left: 10px;
  }
  .user > img {
    display: none;
  }
}
