body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.loginpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: white;
}
.loginpage input {
  background-color: #bbbdbd49;
  color: white;
}
.loginpage input::placeholder {
  color: white;
}
.loginpage input:focus,
.loginpage input:hover {
  outline: none;
  background-color: #bbbdbd49;
  color: white;
}
